body {
    max-width: 1100px;
    color: rgb(231, 227, 222);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background/backimg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
}

#line {
    margin: 10px 0px;
}

hr {
    margin: 3px 0px;
}

#nav1 ul li {
    font-size: 12px;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    list-style: none;
}

#nav1 ul li a {
    text-decoration: none;
    color: rgb(231, 227, 222);
    transition: color 0.3s;
}

#title {
    position: relative;
}

#snsIcon {
    position: absolute;
    right: 23%;
    top: 13px;
}

#snsIcon ul {
    margin: 0;
}

#snsIcon ul li {
    padding: 0px 5px;
}

#nav2 ul li {
    padding: 0px;
    display: inline-block;
    position: relative;
    list-style: none;
    font-size: 18px;
}

#nav2 ul li a {
    font-size: 17px;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(231, 227, 222);
    transition: color 0.3s;
}

.search_section {
    position: absolute;
    top: 53px;
    right: 23%;
}

#user {
    margin: 10px 0px;
    padding: 0px;
}

#user li a:hover {
    color: rgb(142, 17, 17)
}

#menu {
    margin: 15px 0px;
    padding: 0px 0px 0px 10px;
    font-weight: bold;
}

#menu li a:hover {
    color: rgb(142, 17, 17);
}

#footer {
    position: relative;
}

#footer ul {
    margin: 7px 0px;
    padding: 3px;
}

#footer ul li {
    font-size: 13px;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    list-style: none;
}

#footer ul li a {
    text-decoration: none;
    color: rgb(231, 227, 222);
    transition: color 0.3s;
}

#footer li a:hover {
    color: rgb(142, 17, 17)
}

#footer_inner2 {
    display: flex;
    /* Flexbox 레이아웃 사용 */
    justify-content: space-between;
    /* 내부 요소를 양쪽 끝으로 정렬 */
}

#footer_inner2 div {
    flex: 1;
    text-align: left;
}

#footer_inner2 p {
    margin-left: 15px;
}

.bank_list {
    margin-left: 15px;
}

#footer_inner3 {
    display: flex;
    /* Flexbox 레이아웃 사용 */
    justify-content: space-between;
    /* 내부 요소를 양쪽 끝으로 정렬 */
}

#footer_inner3 div {
    flex: 1;
    text-align: left;
}

#footer_inner3 p {
    margin-left: 15px;
}

#icon {
    margin-top: 60px;
}

#footer_inner4 {
    display: flex;
    /* Flexbox 레이아웃 사용 */
    justify-content: space-between;
    /* 내부 요소를 양쪽 끝으로 정렬 */
}

#footer_inner4 div {
    flex: 1;
    text-align: left;
}

#footer_inner4 h6 {
    margin-left: 15px;
}

#back_top {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 99;
    cursor: pointer;
    background: url(/SkinImg/btn_top_off.png) no-repeat 0 0;
}

/*
#back_top span .btn_off{
    -webkit-opacity: 1.0;
    -webkit-transition: all .5s 1s ease;
}
*/

#path h2 {
    display: none;
}

#path ol {
    list-style: none;
    /* 번호 스타일을 없애는 CSS */
}

#path li {
    color: gray;
    text-align: right;
    /* 텍스트를 오른쪽으로 정렬 */
}

#path li a {
    color: gray;
    text-decoration: none;
    /* 텍스트를 오른쪽으로 정렬 */
}

.titleArea {
    text-align: center;
    /* 텍스트를 가운데 정렬 */
}

.titleArea h3 {
    font-size: 60px;
    margin: 0;
}

.titleArea span {
    font-size: 20px;
    margin: 0;
}

#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#loginBox label,
#loginBox a,
#loginBox p,
#loginBox ul,
#loginBox li {
    margin: 10px 0;
}

#loginBox ul {
    padding: 0;
}

#loginBox ul li {
    list-style: none;
}

#loginBox ul li a {
    margin: 0 auto;
    color: rgb(183, 89, 38);
    text-decoration: none;
}